<!DOCTYPE html>
<html>
<head>
	<title>Lollykrown </title>
</head>
<body>

<!DOCTYPE html>
<html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="lollykrown" content="">

    <title>Lollykrown</title>

    <!-- icon -->
    <!-- <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"> -->

    <link rel="icon" type="image/png" href="images/favicon.png">

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="style.css">

    <!-- Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet" type='text/css'>
</head>

<body>
    <!-- navigation -->
    <nav class="mainmenu ">
        <div class="container">
            <div class="dropdown">
                <button type="button" class="navbar-toggle" data-toggle="dropdown">
                    <span class="icon-bar"></span> 
                    <span class="icon-bar"></span> 
                    <span class="icon-bar"></span> 
                </button>
                <!-- Dropdown trigger -->
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li><a href="#head" class="active">Hi there</a></li>
                    <li><a href="#about">About me</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#contact">Contact Me</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Home section -->
    <section class="section" id="head">
        <div class="container">

            <div class="row">
                <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">
                    <img class="img-thumbnail flex-center" src="images/profile.jpg" alt="user">
                    <h1 class="h1-responsive wow fadeIn" id="my_name">Kay Agboola</h1></li>
                    <p class="green">Android | HTML/CSS | Javascript</p>

                    <p><a href="https://resume.github.io/?lollykrown" target="_blank" class="btn btn-default btn-lg">View Github Résumé</a></p>

                </div>
                <!-- /col -->

        </div>
<!-- /row -->

    </div>

    </section>

    <!-- About section -->
    <section class="section" id="about">
        <div class="container">

            <h2 class="text-center title">About me</h2>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-2">
<!--                     <h5><strong>Tech and Books<br></strong></h5> -->
                    <p>Lollykrown is an IT enthusiast and a google fanboy. He posseses no programming background but thanks to Google/Andela who ignited the passion. He's now a software Developer who dotes on Android sofware development. He loves to build stuffs that solves or attempts to solve real life problems. </p>
                    <p>Lollykrown is an avid reader with history, psychology, science/science fiction, fantasy and African lit as his fav Genres. He's a curious fellow who is always keen to learn and continuously strives to be a better version of himself everyday. </p>
                </div>
                <div class="col-sm-4"> 
                    <p class="green">He also hopes to flex his writing skills someday on
                        <a href="https://medium.com/@lollykrown" target="_blank">Medium</a>. I just hope that the day would come, although, he once attempted this on <a href="https://lollykrown.blogspot.com.ng" target="_blank">Blogspot</a>.</p>
                    <h5><strong>Outside Tech and Books<br></strong></h5>
                    <p class="green">Lollykrown is a Practicing Psychiatric Nurse in Nigeria, You can check him out on <a href="https://www.linkedin.com/in/kayodeagboola/" target="_blank">LinkedIn</a>. Beside this, He loves to sleep, make new friends and he speaks fluent sarcasm. </p>
                    <p>He also loves adventures, infact, he has done so many crazy things while seeking it out.</p>
                    <p class="green">You can follow him on <a href="https://twitter.com/lollykrown" target="_blank">twitter</a>, He's there to catch fun and tries not to be boring. </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="portfolio">
        <div class="container">

            <h2 class="text-center title";font-weight:900;font-style:normal" > My Recent Apps </h2>
            <p class="lead text-center green">
                 Some of the Android apps I developed recently!
            </p>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-2">
                    <div class="thumbnail">
                        <img src="images/med_app.svg" color="#ffffff" alt="Med Dir App">
                        <div class="caption">
                            <h3>Med Dir App</h3>
                            <p>The Med Dir App is one stop shop for everything medical in Lagos as it concerns a Lagos resident&hellip;</p>
                            <p><a href="http://play.google.com/" target="_blank" title="Med Dir App" class="btn btn-default" role="button">View Project</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="images/med_manager.svg" color="#ffffff" alt="Med Manager App">
                        <div class="caption">
                            <h3>Med Manager App</h3>
                            <p>Med manager is an Android app that that reminds the user or their medication when it's time. With&hellip;</p>
                            <p><a href="http://play.google.com/" target="_blank" title="Med Manager App" class="btn btn-default" role="button">View Project</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-sm-offset-2">
                    <div class="thumbnail">
                        <img src="images/inventory.svg" alt="Inventory App">
                        <div class="caption">
                            <h3>Inventory App</h3>
                            <p>Inventory App is a stock taking android app which can be customised to suit any inventory. It makes&hellip;</p>
                            <p><a href="https://github.com/lollykrown" target="_blank" class="btn btn-default" role="button">View Project</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="images/resume.png" alt="Resume">
                        <div class="caption">
                            <h3>My Résumé (HTML &amp; CSS)</h3>
                            <p>This is a github generated resume. \n</p>
                            <p><a href="https://resume.github.io/?lollykrown" target="_blank" class="btn btn-default" role="button">View Project</a></p>
                        </div>
                    </div>
                </div>
                

            </div>

        </div>
    </section>



    <!-- contact section -->
    <section class="section" id="contact">
        <div class="container">

            <h2 class="text-center title">Get in touch</h2>

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <p class="lead">I love to work, so don't be shy</p>
                    <p>I am just an email away</p>
                    <p><b><a href="mailto:joe_kayu@yahoo.com">joe_kayu@yahoo.com</a></b></p>
                    <p>I'm always available to work remotely. <br><br></p>
                    <ul class="list-inline list-social">
                        <li><a href="https://twitter.com/lollykrown" class="btn btn-link" title="Follow me @lollykrown"><i class="fa fa-twitter fa-fw"></i> Twitter</a></li>
                        <li><a href="https://github.com/lollykrown" class="btn btn-link" title="Follow my repos @lollykrown"><i class="fa fa-github fa-fw" ></i> Github</a></li>
                        <li><a href="https://www.linkedin.com/in/kayodeagboola/" class="btn btn-link" title="Add me to your connections"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </section>


    <!--MODALS-->
    <!-- Modal Contact -->
    <div data-ng-app="contactApp" ng-model="modal" class="modal fade modal-ext" id="modal-contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" ng-controller="contactCtrl">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title text-xs-center" id="myModalLabel">Write to me</h4>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <p>I'll like to receive messages from you.</p>
                    <br>

                    <form name="contactForm" novalidate ng-submit="sendEmail(name,sender,subj,content)">
                        <div class="md-form"
                             ng-class="{'has-success':contactForm._name.$valid,'has-danger':contactForm._name.$dirty && contactForm._name.$invalid}">
                            <i class="fa fa-user prefix"></i>
                            <input ng-model="name" name="_name" type="text" id="name" class="form-control" ng-required="true">
                            <label for="name" class="lbl">Your name</label>
                        </div>

                        <div class="md-form"
                             ng-class="{'has-success':contactForm.email.$valid,'has-danger':contactForm.email.$dirty && contactForm.email.$invalid}">
                            <i class="fa fa-envelope prefix"></i>
                            <input ng-model="sender" name="email" type="email" id="email" class="form-control" ng-required="true">
                            <label for="email" class="lbl">Your email</label>
                        </div>

                        <div class="md-form"
                             ng-class="{'has-success':contactForm.subject.$valid,'has-danger':contactForm.subject.$dirty && contactForm.subject.$invalid}">
                            <i class="fa fa-tag prefix"></i>
                            <input ng-model="subj" type="text" name="subject" id="subject" class="form-control" ng-required="true">
                            <label for="subject" class="lbl">Subject</label>
                        </div>

                        <div class="md-form"
                             ng-class="{'has-success':contactForm.message.$valid,'has-danger':contactForm.message.$dirty && contactForm.message.$invalid}">
                            <i class="fa fa-pencil prefix"></i>
                            <textarea ng-model="content" type="text" name="message" id="message" class="md-textarea" ng-required="true"></textarea>
                            <label for="message" class="lbl">Message</label>
                        </div>
                        <div class="md-form">
                            <input type="text" name="_gotcha" class="hidden-xs-up" />
                            <input type="hidden" name="_next" value="/"/>
                        </div>

                        <div class="text-xs-center">
                            <button ng-disabled="contactForm.$invalid" type="submit" class="btn btn-primary">Submit  &nbsp;<i class="fa fa-spinner fa-spin" ng-if="loading==true"></i></button>
                        </div>
                    </form>

                    <div class="text-xs-center">
                        <div ng-if="statusPos" class="alert alert-success text-xs-left" role="alert">
                            <span class="fa fa-check" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            {{statusPos}}
                            <button type="button" class="close pull-right" aria-label="Close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div ng-if="statusNeg" class="alert alert-danger text-xs-left" role="alert">
                            <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            {{statusNeg}}
                            <button type="button" class="close pull-right" aria-label="Close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="call">
                            <p>Or would you prefer to call? <span class="cf-phone"><i class="fa fa-phone"> +2347062592846</i></span></p>
                        </div>

                    </div>


                </div>
                <!--Footer-->
                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                <!--</div>-->
            </div>
            <!--/.Content-->
        </div>
    </div>

    <!-- javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- custom js-->
    <script src="main.js"></script>
    <script src="typed.js"></script>

</body>

</html>


</body>
</html>
